

#banner {
    width: 100%;
}

.principal {
    background-color: #CCC;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}
.itens {
    font-size: italic;
}

.beneficios {
    background-color: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;
}

.texto-centralizado {
    text-align: center;
}

.titulo-principal {
    padding-left: 20px;
}

button {
    border-radius: 5px 15px;
    padding: 10px 25px;
    display:block;
    margin: 20px auto;
    background-color: #FFF;
    border: 2px solid #000;
    
}

button a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    border-color: #C78C19;
}

button:hover a{
    color: #C78C19;
}

footer {
    text-align: center;
    background: url("./imagens/bg.jpg") ;
    padding: 40px 0;
}

.copyright {
    color: #FFF;
    font-size: 13px;
    margin: 20px 0 0;
}

